#main_content {
	width: 725px;
	margin: 0 auto;
}

#top_box {
	background-color: #c2cace;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
}

#top_box p {
	font-family: "Arial";
	font-size: 16px;
	font-weight: lighter;
	color: #3b3d3e;
	padding: 0px 10px 10px 10px;
	margin-top: -10px;
	line-height: 24px;
}

#top_box img {
  position: relative;
  left: -11px;
  top: -2px;
}

#demo_box {
	margin-top: 25px;
}


#demo_btn {
	margin: 20px 0px 0px 235px;
	float: left;
}


a{
  color: #dc7a01;
  text-decoration: underline;		
}

/* clasess */

.button { 
	font-family: "Century Gothic", "sans-serif", "Arial";
	font-size: 18px;
	padding: 6px 10px;
	color: #ffffff;
  border: 1px solid #d98b2a;   
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee9c30', endColorstr='#d98b2a'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ee9c30), to(#d98b2a)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ee9c30,  #d98b2a); /* for firefox 3.6+ */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.line {
	width: 100%;
	height: 3px;
	background-color: #6b7d81;
	margin-top: 30px;
}

.cl {
	clear: both;
}

.note{
	font-family: "Century Gothic", "sans-serif", "Arial";
}

.important { 
  background-color: #ffffff;
  font-size: 15px;
	color: #4b4843;
	line-height: 28px;
	margin: 30px 0;
}

.important p{ 
  padding: 15px;
  margin: 0;
}


.note h2{
	font-size: 20px;
  font-weight: lighter;
}

.note ul{
	margin: 20px 0 0 15px;
}

.note li, p{
	font-size: 15px;
	color: #4b4843;
	line-height: 28px;
}

pre{ 
	margin-top: 30px;
	color: #ffffff !important;
	font-size: 13px;
	padding: 10px;
	background-color: #000000 !important;
}