<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Venue Driver Documentation - {{ page.title }}</title>

  <link href="http://venuedriver.com/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" /> 

  <link href="http://venuedriver.com/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="http://venuedriver.com/stylesheets/js_widget.css" media="screen" rel="stylesheet" type="text/css" /> 

  <!--[if IE]>
  <link href="http://venuedriver.com/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]--> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/fixed-width.css" title="Fixed-width"/> 
  <link href="http://venuedriver.com/stylesheets/stretchy.css" media="all" rel="stylesheet" type="text/css" />
  
  <link href="/stylesheets/sh_styles.css" rel="stylesheet" type="text/css"> 
  <link href="/stylesheets/ribbon.css" rel="stylesheet" type="text/css"> 

  <script language="javascript" src="/javascripts/sh_main.min.js" /></script>
  <script language="javascript" src="/javascripts/sh_html.js" /></script>

  <link href="/stylesheets/documentation.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="http://venuedriver.com/images/vn_logo_big.ico"> 
</head>

<body onload="sh_highlightDocument()">

  <div id="container" style="width: 950px; margin-left: auto; margin-right: auto;"> 

  <div id="logo"><a href="/updates/index">Venue Driver<span class=""></span></a></div> 

  <div id="main_content"> 

  {{ content }}

  </div>
  </div>

</body>
</html>
